# System Files
.DS_Store
Thumbs.db

#node_modules
node_modules

# IDEs and editors
**/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
debug.log
coverage
.nyc_output

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.css.map

#CDK
cdk.out

# Don't track sandbox configurations
config/config.*.env
config/usagePlans.*.json
# But do track dev/test/qa/prod configurations and default configurations
!config/config.default.env
!config.294147695136.env
!config.313629686942.env
!config.579883283409.env
!config.791939392831.env
!config/usagePlans.default.json
!usagePlans.294147695136.json
!usagePlans.313629686942.json
!usagePlans.579883283409.json
!usagePlans.791939392831.json

# local env files
config.local.env

node_modules
coverage
dist


!.eslintrc.js
!commitlint.config.js

# local sam
.aws-sam/**/*.*

# document generator Lambdas binaries and objects
src/functions/document-generation/DocumentGeneration.Lambdas/obj/*
src/functions/document-generation/DocumentGeneration.Lambdas/bin/*
src/functions/document-generation/DocumentGeneration.Lambdas.Tests/obj/*
src/functions/document-generation/DocumentGeneration.Lambdas.Tests/bin/*

# document generator common project binaries and objects
src/functions/document-generation/DocumentGeneration.Common/obj/*
src/functions/document-generation/DocumentGeneration.Common/bin/*
src/functions/document-generation/DocumentGeneration.Common.Tests/obj/*
src/functions/document-generation/DocumentGeneration.Common.Tests/bin/*

### VisualStudioCode ###
.vscode/*
src/functions/document-generation/.vs/*

# local .net settings
appsettings.local.json

# python
.venv/*
**/__pycache__/**
